*{margin: 0;}

body {
    background-color: #DEBB77;
}

/* Header */

header {
    background-color: #000;
    color: #fff;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    max-width: 50px;
    height: auto;
    margin-left: 10px;
}

#header-text {
    flex-grow: 1;
    margin: 0;
}

.header-icons {
    display: flex;
}

.header-icons img {
    max-width: 30px;
    margin-left: 10px;
}

/* Menu */

.menu-nav {
    margin: auto;
    margin-top: 0px;
    margin-right: 0px;
    background-color: #f1f1f1;
    width: 100%;
    height: 100%;
    z-index: 45;
    position: fixed;
    right: 0;
    top: 0;
}

.icon-croix {
    height: 45px;
}

.icon-croix img {
    margin-top: 15px;
    margin-right: 15px;
    float: right;
    cursor: pointer;
    margin-bottom: 50px;
}

.item-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 35px;
    margin-bottom: 45px;
    margin-top: 100px;
}

.item-nav a {
    text-decoration: none;
    list-style-type: none;
}

.nav-list nav ul li {
    margin-top: 27px;
    list-style-type: none;
}

.nav-list nav ul li a {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: #000;
    margin-right: 10px;
    font-family: 'Mulish';
}

.icon_menu {
    margin-left: 20px;
}

.separator_header {
    width: 375px;
    z-index: 100;
    margin-left: -40px;
    border-top: 2px solid #000;
}

/* Home page */

.container {
    width: 100%;
    max-width: 600px;
    /* Ajustez la largeur selon vos besoins */
    margin: auto;
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}

.overlay-text h1 {
    font-size: 64px;
    margin-top: -300px;
    text-align: center;
}

.overlay-text h2 {
    font-size: 40px;
    margin-top: 30px;
    width: 338px;
}

.overlay-text img {
    margin-bottom: -480px;
}

.overlay-image {
    width: 100%;
    height: auto;
    display: block;
    margin-top: -100px;
}

.text-parchemin {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 16px;
    color: #000;
}

.h2_all_page {
    color: #000;
    margin-top: 35px;
    font-size: 32px;
    text-align: center;
}

.img_info {
    margin-top: 30px;
    margin-left: 12px;
}

.container_info {
    display: flex;
}

.container_text {
    margin-left: -20px;
    margin-top: 60px;
}

.text-info-container {
    z-index: 5;
    position: relative;
    margin-top: -170px;
    margin-left: 20px;
    margin-right: 13px;
    font-family: 'Mulish', sans-serif;
    font-weight: 600;
    width: 143px;

}

.en-savoir-plus {

    width: 133px;
    height: 35px;
    margin-left: 30px;
    margin-top: 10px;

}

.en-savoir-plus a {
    text-decoration: none;
    color: #000;
    font-family: 'Mulish', sans-serif;
    font-weight: 600;
}

.separator {
    border-top: 2px solid #000;
    margin-top: 45px;
    width: 338px;
    margin-left: 17px;
}

.container_text_left {
    margin-right: -25px;
    margin-top: 60px;
    z-index: 5;
}

.text-info-container2 {
    z-index: 5;
    position: relative;
    margin-top: -220px;
    margin-left: 20px;
    margin-right: 13px;
    font-family: 'Mulish', sans-serif;
    font-weight: 600;
    width: 143px;
}

.en-savoir-plus4 {
    width: 133px;
    height: 35px;
    margin-left: 30px;
    margin-top: 25px;
}

.en-savoir-plus5 {
    width: 133px;
    height: 35px;
    margin-left: 30px;
    margin-top: -3px;
}

.en-savoir-plus4 a {
    text-decoration: none;
    color: #000;
    font-family: 'Mulish', sans-serif;
    font-weight: 600;
}

.en-savoir-plus5 a {
    text-decoration: none;
    color: #000;
    font-family: 'Mulish', sans-serif;
    font-weight: 600;
}

/* Film */

.h1_all_page {
    color: #000;
    margin-top: 35px;
    font-size: 40px;
    text-align: center;
}

.img_center {
    margin-left: 37px;
    margin-top: 30px;
}

.citation {
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 16px;
    color: #000;
}

.h4-text {
    margin-top: 30px;
    margin-left: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 600;
}

.perso_principaux {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 35px;
}

.gandalph p {
    font-weight: 600;
    margin-left: 15px;
}

.bilbon p {
    font-weight: 600;
    margin-left: 15px;
}

.thorin p {
    font-weight: 600;
    margin-left: 10px;
}

.Gollum p {
    font-weight: 600;
    margin-left: 10px;
}

.img_center2 {
    margin: auto;
    display: block;
    margin-top: 30px;
}

.p_center {
    margin-top: 40px;
    font-size: 16px;
    color: #000;
    margin-left: 20px;
    margin-right: 20px;
}

.citation2 {
    margin-left: 40px;
    margin-top: 12px;
}

/* Réplique */

.p_center {
    margin-top: 40px;
    font-size: 16px;
    color: #000;
    margin-left: 20px;
    margin-right: 20px;
}

.p_center2 {
    text-align: left;
    margin-top: 40px;
}

.h1_all_page {
    color: #000;
    margin-top: 35px;
    font-size: 40px;
    text-align: center;
}

/* contact */

.titre_contact {
    font-size: 16px;
    margin-left: 20px;
    margin-top: 20px;
}

#nom, #prenom, #mail {
    margin-top: 5px;
    width: 340px;
    height: 52px;
}

#msg {
    margin-top: 5px;
    width: 340px;
    height: 200px;
}

form {
    margin-top: 20px;
    margin-left: 20px;
    padding-bottom: 20px;
}


.button-contact {
    margin-top: 20px;
    width: 243px;
    height: 44px;
    margin-left: 66px;
    border: 1px solid #fff;
    .background(Color(red: 0, green: 0, blue: 0).opacity(0.1));
    border-radius: 10px;

}

/* frise */

.container {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 100px;
}

.single-box {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
}

.date-area {
    display: flex;
    order: 2;
    text-align: center;
    color: #fff;
    font-size: 28px;
    flex-basis: 100px;
}

.date-area>span {
    font-size: 20px;
    line-height: 70px;
    margin: auto;
    background-color: #C88D1C;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.content {
    text-align: center;
    padding: 20px;
    border-radius: 25px;
    color: #000;
    order: 3;
    width: 80%;
    padding-left: 10px;
    background-color: #e6e6e6;
    margin-bottom: 3%;
    margin-right: 3%;
}

.content h2 {
    margin: 0;
    font-size: 14px;
    text-transform: uppercase;

}

.content img {
    border-radius: 6px;
    margin-top: 15px;
}

/* Carrousel */

.carrousel_parent-ecrans {
    display: flex;
    width: 100%;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    margin: 0%;
    margin-top: 35px;
}

.carrousel_ecran {
    width: 100%;
    flex: none;
    scroll-snap-align: start;
    margin: 0%;
}

.carrousel_ecran figure {
    margin: 0%;
    text-align: center;

}

.carrousel {
    position: relative;
}

.carrousel_btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 32px;
    height: 32px;
    background-color: #C88D1C;
    border-radius: 50%;
    border: none;
    display: grid;
    place-content: center;
    color: #fff;
}

.img_carrousel {
    text-align: center;
}

.carrousel_btn-avant {
    left: 0;
    margin-left: 20px;
}

.carrousel_btn-apres {
    right: 0;
    margin-right: 20px;
}

/* Footer */

.footer_cineplique {
    background-color: #000;
    color: #fff;
    padding: 20px 0;
    margin-top: 20px;
    height: 488px;
}

.separateur {
    border-top: 1px solid #fff;
    margin-top: 35px;
    width: 294px;
    margin-left: 30px;
}

.first_part_footer {
    color: #fff;
    font-size: 20px;
    padding-left: 33px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.first_part_footer a {
    margin-top: 25px;
    text-decoration: none;
    color: #fff;
}

.partie-1 {
    margin-top: 14px;
    margin-bottom: -14px;
}

.second_part_footer {
    color: #fff;
    font-size: 14px;
    padding-left: 33px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.second_part_footer p {
    margin-top: 30px;
}












