*{margin: 0;}

body {
    background-color: #DEBB77;
}

/* Header */

header {
    background-color: #000;
    color: #fff;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    max-width: 50px;
    height: auto;
    margin-left: 10px;
}

#header-text {
    flex-grow: 1;
    margin: 0;
}

.header-icons {
    display: flex;
}

.header-icons img {
    max-width: 30px;
    margin-left: 10px;
}

/* Footer */

.footer_cineplique {
    background-color: #000;
    color: #fff;
    padding: 20px 0;
    margin-top: 20px;
    height: 488px;
}

.separateur {
    border-top: 1px solid #fff;
    margin-top: 35px;
    width: 294px;
    margin-left: 30px;
}

.first_part_footer {
    color: #fff;
    font-size: 20px;
    padding-left: 33px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.first_part_footer a {
    margin-top: 25px;
    text-decoration: none;
    color: #fff;
}

.partie-1 {
    margin-top: 14px;
    margin-bottom: -14px;
}

.second_part_footer {
    color: #fff;
    font-size: 14px;
    padding-left: 33px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.second_part_footer p {
    margin-top: 30px;
}